@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

input {
  border: none;
  line-height: 30px;
  height: 100%;
  outline: none;
  color: white;
}
input::-webkit-input-placeholder {
  color: white;
  vertical-align: middle;
}

button {
  border: none;
}

.orbitron {
  font-family: "Orbitron", sans-serif;
}

.height_100 {
  height: 100vh;
}

.display_Medium {
  font-size: 45px;
  font-weight: bold;
  line-height: 120%;
}

.title_Large {
  font-size: 22px;
  font-weight: 600;
  line-height: 120%;
}

.title_Medium {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}

.headline_Large {
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
}
@media screen and (min-width: 300px) {
  .headline_Large {
    font-size: 25px;
  }
}
@media screen and (min-width: 500px) {
  .headline_Large {
    font-size: 25px;
  }
}
@media screen and (min-width: 1024px) {
  .headline_Large {
    font-size: 32px;
  }
}

.body_Large {
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}

.body_Medium {
  font-size: 14px;
  font-weight: 200;
}

.body_bold {
  font-size: 16px;
  font-weight: 500;
}

.body_Small {
  font-size: 12px;
  font-weight: 400;
}

.slick-prev:before {
  content: "<";
  background: black;
  border-radius: 15px;
  fill: black;
  border: 1px solid black;
}

.slick-next:before {
  content: ">";
  background: black;
  border-radius: 15px;
  fill: black;
  border: 1px solid black;
}

.container-box {
  max-width: 1800px;
  margin: auto;
}

nav {
  height: 3.5em;
  padding: 0 7.12%;
  background: rgba(0, 0, 0, 0.095);
  overflow-y: visible;
  z-index: 1;
}
nav h1 {
  font-size: 2.1em;
  margin: 0;
}
nav .navigation {
  list-style-type: none;
  list-style: none;
  width: 29.3em;
  align-self: center;
  padding: 0;
  margin: 0;
  position: relative;
}
@media screen and (max-width: 1250px) {
  nav .navigation {
    visibility: hidden;
  }
}
nav .navigation li {
  cursor: pointer;
}
nav .nav-search-button {
  width: 18em;
}
@media screen and (max-width: 1250px) {
  nav .nav-search-button {
    display: none !important;
  }
}
nav .nav-search-button .search {
  height: 100%;
  width: 11.25em;
  border-radius: 15px;
}
nav .nav-search-button .search input {
  height: 2em;
  width: 100%;
  border-radius: 15px 0 0 15px;
  border: none;
  padding: 0 0 0 14px;
  background: rgba(0, 0, 0, 0.2);
}
nav .nav-search-button .search input::-moz-placeholder {
  color: white;
  font-size: 12px;
  font-weight: 400;
}
nav .nav-search-button .search input::placeholder {
  color: white;
  font-size: 12px;
  font-weight: 400;
}
nav .nav-search-button .search button {
  width: 37px;
  background-color: #1c1c1c;
  border-radius: 0 15px 15px 0;
  display: flex;
}
nav .nav-search-button .search button img {
  margin: auto;
  width: 17px;
  height: 17px;
}
nav .nav-search-button .button {
  width: 87px;
  height: 32px;
  border-radius: 5px;
  background-color: #1c1c1c;
  color: white;
  font-size: 12px;
  font-weight: bold;
}
@media screen and (min-width: 1250px) {
  nav .menu {
    display: none;
  }
}
nav .mobile_nav_box_none {
  visibility: hidden;
}
nav .mobile_nav_box {
  position: fixed;
  top: 0;
  width: 250px;
  background-color: #1c1c1c;
  padding: 16px;
  left: calc(100% - 250px);
  animation-name: nav_animation;
  animation-duration: 0.5s;
  visibility: visible;
  z-index: 999;
}
@media screen and (min-width: 1250px) {
  nav .mobile_nav_box {
    display: none;
  }
}
@keyframes nav_animation {
  from {
    left: 110%;
  }
  to {
    left: calc(100% - 250px);
  }
}
nav .mobile_nav_box .close {
  width: 35px;
  margin: 0 0 8px 0;
}
nav .mobile_nav_box h4 {
  font-size: 31px;
  font-weight: bold;
  margin: 0 0 24px 0;
}
nav .mobile_nav_box .mobile_nav {
  list-style-type: none;
  margin: auto;
  gap: 16px;
  height: 100vh;
}

main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url(../images/main\ bg.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(80%);
}
main section {
  margin: 0 0 0 7.12%;
}
@media screen and (max-width: 1250px) {
  main section {
    margin: auto;
    margin-top: 45vh;
    padding-left: 7.12%;
    padding-right: 7.12%;
  }
}
main section h2 {
  max-width: 564px;
  margin: 0 0 16px 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 120%;
}
@media screen and (max-width: 600px) {
  main section h2 {
    font-size: 30px !important;
    margin: 0 0 16px 0;
  }
}
@media screen and (max-width: 1250px) {
  main section h2 {
    text-align: center;
  }
}
main section .search {
  height: 47px;
  max-width: 431px;
  border-radius: 15px;
}
@media screen and (max-width: 1250px) {
  main section .search {
    height: 40px;
    margin: auto;
  }
}
main section .search input {
  background: rgba(139, 139, 139, 0.5019607843);
  width: 100%;
  border-radius: 15px;
  padding: 0 0 0 14px;
}
main section .search input::-moz-placeholder {
  color: white;
  font-size: 16px;
  font-weight: 400;
}
main section .search input::placeholder {
  color: white;
  font-size: 16px;
  font-weight: 400;
}
@media screen and (max-width: 600px) {
  main section .search input::-moz-placeholder {
    font-size: 14px;
  }
  main section .search input::placeholder {
    font-size: 14px;
  }
}
main section .search button {
  background-color: #1c1c1c;
  max-width: 120px;
  border-radius: 0 15px 15px 0;
  padding: 14px 33px;
}
@media screen and (max-width: 1250px) {
  main section .search button {
    padding: 10px 22px;
  }
}
main section .search button img {
  width: 24px;
}

.intro {
  padding: 4.68% 7.12%;
}
@media screen and (max-width: 1100px) {
  .intro {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 1.85%, rgba(0, 0, 0, 0.591667) 40.19%, rgba(0, 0, 0, 0.71) 100%), url(../images/Japan.jpg) center;
    background-size: cover;
    height: 588px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
}
.intro article {
  gap: 93px;
}
@media screen and (max-width: 1250px) {
  .intro article {
    gap: 50px;
  }
}
.intro article aside {
  width: 547px !important;
  height: 366px;
  border-radius: 15px;
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 1100px) {
  .intro article aside {
    display: none;
  }
}
.intro article aside img {
  height: 100%;
  border-radius: 15px;
  width: auto;
}
@media screen and (max-width: 1100px) {
  .intro article .intro_description {
    max-width: 500px;
  }
}
.intro article .intro_description h3 {
  font-weight: 600;
  font-size: 56px;
  line-height: 120%;
  margin: 0 0 8px 0;
}
.travel_destinations {
  padding: 4.68% 7.12%;
}
.travel_destinations h3 {
  margin: 0 0 56px 0;
}
@media screen and (max-width: 800px) {
  .travel_destinations h3 {
    margin: 0 0 8% 0;
  }
}
.travel_destinations article {
  width: 100%;
  padding: 1em;
}
.travel_destinations article .destination {
  width: 269px;
  margin: 0 15px;
  height: 379px;
  border-radius: 15px;
  background-position: 0% !important;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 16px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.travel_destinations article .destination::after {
  content: "";
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.12) 47.77%, rgba(0, 0, 0, 0.6) 74.15%, rgba(0, 0, 0, 0.56) 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  bottom: 0;
}
.travel_destinations article .destination img {
  position: absolute;
  top: 0;
  width: 269px;
  height: 379px;
  left: 0;
  right: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.travel_destinations article .destination .description {
  position: relative;
  z-index: 5;
}
.travel_destinations article .destination h4 {
  margin: calc(100% - 16px) 0 8px 0;
}

.deals {
  margin: 4.68% 7.12%;
}
@media screen and (max-width: 950px) {
  .deals {
    margin: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 9.02%, #ffffff 100%), url(../images/Butan\ hotel.jpg);
    background-size: 100%;
    height: 433px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 4.68% 7.12%;
  }
}
.deals article div {
  gap: 16px;
}
@media screen and (max-width: 1000px) {
  .deals article div {
    gap: 0px;
  }
}
.deals article div h4 {
  max-width: 560px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media screen and (max-width: 950px) {
  .deals article div h4 {
    font-size: 24px;
  }
}
@media screen and (max-width: 950px) {
  .deals article div p {
    font-size: 16px;
  }
}
.deals article div button {
  background-color: #1c1c1c;
  width: 141px;
  height: 49px;
  border-radius: 10px;
}
@media screen and (max-width: 950px) {
  .deals article div button {
    width: 97px;
    height: 37px;
    font-size: 12px;
  }
}
.deals article figure {
  max-width: 568px;
  max-height: 310px;
  border-radius: 15px;
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 950px) {
  .deals article figure {
    display: none;
  }
}
.deals article figure img {
  width: 100%;
  border-radius: 15px;
  max-height: 310px;
}

footer {
  padding: 4.68% 7.12%;
  background-color: #1c1c1c;
  gap: calc((100% - 892px) / 2);
}
@media screen and (max-width: 1250px) {
  footer {
    gap: 100px;
  }
}
@media screen and (max-width: 830px) {
  footer {
    flex-direction: column;
    gap: 56px;
  }
}
@media screen and (max-width: 500px) {
  footer {
    gap: 32px;
  }
}
footer .intro_contact {
  max-width: 397px;
}
@media screen and (max-width: 830px) {
  footer .intro_contact {
    margin: auto;
    max-width: 500px !important;
  }
}
footer .intro_contact h4 {
  font-size: 56px;
  font-weight: 600;
  margin: 0 0 8px 0;
}
@media screen and (max-width: 830px) {
  footer .intro_contact h4 {
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  footer .intro_contact h4 {
    text-align: start;
  }
}
footer .intro_contact p {
  margin: 0 0 16px 0;
}
@media screen and (max-width: 600px) {
  footer .intro_contact p {
    margin: 0 0 8px 0;
  }
}
footer .intro_contact .input_button {
  gap: 21px;
  height: 39px;
}
@media screen and (max-width: 600px) {
  footer .intro_contact .input_button {
    flex-direction: column;
    height: auto;
    gap: 8px;
  }
}
footer .intro_contact .input_button input {
  background-color: transparent;
  border: 2px solid white;
  padding: 0 0 0 20px;
}
@media screen and (max-width: 600px) {
  footer .intro_contact .input_button input {
    height: 40px;
    flex-direction: column;
  }
}
footer .intro_contact .input_button input::-moz-placeholder {
  font-size: 14px;
}
footer .intro_contact .input_button input::placeholder {
  font-size: 14px;
}
@media screen and (max-width: 600px) {
  footer .intro_contact .input_button input::-moz-placeholder {
    font-size: 12px;
  }
  footer .intro_contact .input_button input::placeholder {
    font-size: 12px;
  }
}
footer .intro_contact .input_button button {
  padding: 9.5px 19px;
  border-radius: 10px;
  background: #E5E5E5;
}
@media screen and (max-width: 600px) {
  footer .intro_contact .input_button button {
    height: 40px;
    font-size: 12px;
  }
}
footer .lists_social {
  gap: 16px;
}
@media screen and (max-width: 1020px) {
  footer .lists_social .lists {
    flex-wrap: wrap;
    row-gap: 8px;
    -moz-column-gap: 32px;
         column-gap: 32px;
  }
}
footer .lists_social .lists .list h4 {
  margin: 0 0 16px 0;
}
footer .lists_social .lists .list ul li {
  color: #E5E5E5;
}
footer .lists_social .social {
  gap: 16px;
}/*# sourceMappingURL=styles.css.map */